[submodule "animate.css"]
	path = animate.css
	url = https://github.com/daneden/animate.css.git
[submodule "WOW"]
	path = WOW
	url = https://github.com/matthieua/WOW.git
[submodule "KeyboardJS"]
	path = KeyboardJS
	url = https://github.com/RobertWHurst/KeyboardJS.git
