[submodule "slick"]
	path = slick
	url = https://github.com/kenwheeler/slick.git
[submodule "animate.css"]
	path = animate.css
	url = https://github.com/daneden/animate.css.git
[submodule "WOW"]
	path = WOW
	url = https://github.com/matthieua/WOW.git
