* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* user-select: none; */
}

::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  width: 100vw;
  height: auto;
  flex-flow: column;
  overflow-x: hidden;
  background-color: white;
}

main {
  display: flex;
  width: 100vw;
  height: auto;
  flex-flow: column;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Poiret+One|Source+Sans+Pro');

/*
##################################################
HEADER
##################################################
*/
.header {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  /* background-color: red; */
  /* background-image: url("https://images5.alphacoders.com/886/thumb-1920-886512.jpg"); */
}

/*VIDEO BACKGROUND PROPERTIES*/
#bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 135%;
  min-height: 135%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(https://images5.alphacoders.com/886/thumb-1920-886512.jpg) no-repeat;
  background-size: cover;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top left, rgba(248, 212, 83, 0), #000000);
  background: -moz-linear-gradient(top left, rgba(248, 212, 83, 0), #000000);
  background: linear-gradient(top left, rgba(248, 212, 83, 0), #000000);
  z-index: 0;
}

.header__title {
  width: 50%;
  font-size: 75px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: white;
  padding: 25px 50px 25px 25px;
  background-color: rgba(0, 8, 209, .5);
  z-index: 1;
}

.header__desc {
  font-size: 25px;
  font-family: "Source sans pro";
  color: white;
  padding: 25px 5%;
  width: 50%;
  z-index: 1;
}

.header__about {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 12.5%;
  margin-bottom: 50px;
  width: auto;
  padding: 0 25px;
  height: 75px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  z-index: 1;
  transition: background-color .3s ease-in-out 0s;
}

.header__about:hover {
  background-color: rgba(255, 255, 255, .75);
}

.header__about_img {
  height: 75%;
  margin-right: 25px;
}

.header__about_p {
  font-size: 25px;
  font-family: "Poiret One";
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

/*
##################################################
HIGHTLIGHT SECTION
##################################################
*/
.highlight__container {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.highlight__article {
  display: flex;
  width: 75%;
  height: 65%;
  overflow-x: hidden;
  flex-flow: column wrap;
  align-items: flex-end;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow .3s ease-in-out 0s;
}

.highlight__article:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.hightlight__article_img {
  width: 25%;
  height: 100%;
  background-image: url("https://images5.alphacoders.com/738/738645.jpg");
  background-size: auto 100%;
  background-position: 25% 0;
  transition: background-size .3s ease-in-out 0s;
}

.highlight__article:hover .hightlight__article_img {
  background-size: auto 105%;
}

.highlight__article_title {
  width: 75%;
  font-family: "Montserrat";
  font-size: 30px;
  /* text-transform: uppercase; */
  padding: 25px 0 2vh 40px;
  /* background-color: pink; */
}

.highlight__article_p {
  font-size: 1vw;
  font-family: "Source sans pro";
  padding: 1vh 40px;
  width: 75%;
}

.highlight__article_cta {
  display: flex;
  width: 200px;
  height: 50px;
  margin: auto 1vh 1vh 0;
  font-size: 20px;
  font-family: "Poiret One";
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: #0165C1;
  background: -webkit-linear-gradient(left, #0165C1, #0156A4);
  background: -moz-linear-gradient(left, #0165C1, #0156A4);
  background: linear-gradient(to right, #0165C1, #0156A4);
  transition: width .3s ease-in-out 0s;
}

.highlight__article:hover .highlight__article_cta {
  width: 215px;
}

.highlight__article_cta_p {
  text-transform: uppercase;
  color: white;
}

/*
##################################################
ARTICLES SECTION
##################################################
*/
.articles {
  display: flex;
  width: 100vw;
  height: auto;
  flex-flow: column;
  justify-content: space-around;
  background-color: rgba(0, 109, 170, 0.16);
  transform: skew(0, 3deg);
  overflow: hidden;
}

.articles__header {
  display: flex;
  width: 100vw;
  height: 25vh;
  align-items: center;
  background: linear-gradient(84deg, #25c6d7, #0d58c1);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
  transform: skew(0, -6deg) translateY(-15vh);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.articles__header_title {
  color: white;
  font-size: 70px;
  padding-left: 30px;
  font-family: "Montserrat";
  text-transform: uppercase;
  transform: skew(0, 3deg) translateY(35px);
}

.articles__container {
  display: flex;
  width: 80vw;
  height: auto;
  margin-bottom: 50px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  /* background-color: red; */
}

.article {
  display: flex;
  position: relative;
  width: 600px;
  height: 450px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  flex-flow: column;
  border-radius: 15px;
  /* overflow: hidden; */
  justify-content: space-around;
  align-items: center;
  /* background-color: blue; */
  background-size: auto 100%;
  background-position: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow .3s ease-in-out 0s, background-size .3s ease-in-out 0s;
}

.article_1 {
  background-image: url(https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg);
}

.article_2 {
  background-image: url(https://images3.alphacoders.com/861/thumb-1920-861575.jpg);
}

.article_3 {
  background-image: url(https://images5.alphacoders.com/773/thumb-1920-773515.jpg);
}

.article_4 {
  background-image: url(https://images6.alphacoders.com/753/thumb-1920-753304.jpg);
}

.article:hover {
  background-size: auto 110%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.article__title {
  display: inline-block;
  font-size: 25px;
  width: auto;
  font-family: "Montserrat";
  padding: 20px;
  /* margin: 0 auto; */
  text-align: center;
  /* color: white; */
  background-color: white;
  z-index: 2;
}

.article__overlay {
  position: absolute;
  width: 600px;
  height: 450px;
  border-radius: 15px;
  pointer-events: none;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  transform: translateY(25px);
}

.article__p {
  text-align: justify;
  font-size: 20px;
  /* margin-top: 25px; */
  /* margin: auto 0; */
  font-family: "Source sans pro";
  padding: 0 50px;
  color: white;
  z-index: 2;
}

.article__cta {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  /* margin-top: auto; */
  /* margin-bottom: 10px; */
  font-size: 20px;
  font-family: "Poiret One";
  justify-content: center;
  align-items: center;
  background: #0165C1;
  background: -webkit-linear-gradient(left, #0165C1, #0156A4);
  background: -moz-linear-gradient(left, #0165C1, #0156A4);
  background: linear-gradient(to right, #0165C1, #0156A4);
  transition: opacity .3s ease-in-out 0s, width .3s ease-in-out .3s, height .3s ease-in-out .3s;
  transform: translateY(25px);
  opacity: .5;
  z-index: 2;
}

.article:hover .article__cta {
  opacity: 1;
}

.article__cta_p {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  transition: font-size .3s ease-in-out 0s;
}

.article__cta:hover .article__cta_p {
  font-size: 22.5px;
}

.articles-widget {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-between;
  /* background-color: pink; */
  transform: skew(0, -3deg);
}

.widget {
  display: flex;
  width: 20vw;
  padding-right: 25px;
  height: 700px;
  flex-flow: column;
  /* background-color: blue; */
}

.widget__title {
  width: 100%;
  font-size: 25px;
  font-family: "Montserrat";
  padding: 10px 0;
}

.widget__mail_input_container {
  display: flex;
  height: 50px;
}

.widget__mail_input {
  width: 80%;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: "Source sans pro";
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.widget__mail_button {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: green;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.widget__mail_button_img {
  height: 75%;
  transition: height .3s ease-in-out 0s;
}

.widget__mail_button:hover .widget__mail_button_img {
  height: 85%;
}

.widget__networks {
  display: flex;
  margin-top: 25px;
  width: 100%;
  flex-flow: row wrap;
}

.widget__networks_iconcontainer {
  display: flex;
  width: 25%;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}

.widget__networks_icon {
  height: 40px;
  transition: height .3s ease-in-out 0s;
}

.widget__networks_icon:hover {
  height: 50px;
  cursor: pointer;
}

.footer {
  display: flex;
  width: 100vw;
  height: auto;
  background-color: white;
}

.footer__p {
  margin-left: 15px;
  font-family: "source sans pro";
  font-size: 1vw;
}